<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRKAH0n3QVVgOb36hCsknZFmaVYWQVcBc</string>
	<key>GCM_SENDER_ID</key>
	<string>901697518527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edelassurance.app</string>
	<key>PROJECT_ID</key>
	<string>edelassurance-app</string>
	<key>STORAGE_BUCKET</key>
	<string>edelassurance-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901697518527:ios:66bc66467248b113fb3f0a</string>
</dict>
</plist>